<span itemscope itemtype="http://schema.org/EmailMessage">
<span itemprop="description" content="We need to confirm your email address."/>
<span itemprop="action" itemscope itemtype="http://schema.org/ConfirmAction">
<meta itemprop="name" content="Confirm Subscription"/>
<span itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler">
  <meta itemprop="url" content="https://peep.us3.list-manage.com/subscribe/smartmail-confirm?u=b97b971a977910f878ba92a94&id=f781744731&e=*|UNIQID|*&inline=true"/>
  <link itemprop="method" href="http://schema.org/HttpRequestMethod/POST"/>
</span>
</span>
</span>
