<tr bgcolor="#79c043">
    <td height="107" style="height: 107px; background-image: url('{{ '/header.png' | prepend: site.imgs }}');">
        <table cellpadding="10" cellspacing="0" border="0" align="center" width="650">
            <tr >
                <td align="center">
                    <img src="{{ '/logo.png' | prepend: site.imgs }}">
                </td>
            </tr>
        </table>
    </td>
</tr>

<tr bgcolor="#292929">
    <td>
        <table cellpadding="10" cellspacing="0" border="0" align="center" style="width: 650px;" width="650">
            <tr >
                <td align="center">
                    <img src="{{ page.btn | prepend: site.imgs }}">
                </td>
            </tr>
        </table>
    </td>
</tr>
